<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90c9c3">  <td>17/07/04 20:43:27</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforesuite()[pri:0, instance:com.sSydneyTesters.Tests.CarInsuranceTests@7a187f14]">&gt;&gt;beforesuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1227074340</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>17/07/04 20:43:27</td>   <td>29</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.intialize(java.lang.reflect.Method)[pri:0, instance:com.sSydneyTesters.Tests.CarInsuranceTests@7a187f14]">&gt;&gt;intialize</td> 
<td>&nbsp;</td>  <td>main@1227074340</td>   <td></td> </tr>
<tr bgcolor="af6cff">  <td>17/07/04 20:43:45</td>   <td>17920</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CarInsuranceTests.getCarInsurenceQuote()[pri:0, instance:com.sSydneyTesters.Tests.CarInsuranceTests@7a187f14]">getCarInsurenceQuote</td> 
  <td>main@1227074340</td>   <td></td> </tr>
<tr bgcolor="90c9c3">  <td>17/07/04 20:43:58</td>   <td>31389</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.close()[pri:0, instance:com.sSydneyTesters.Tests.CarInsuranceTests@7a187f14]">&lt;&lt;close</td> 
<td>&nbsp;</td>  <td>main@1227074340</td>   <td></td> </tr>
</table>
